#house{
  position: relative;
  width: 500px;
  height: 400px;
  background-color: pink;
  border: 2px solid green;


}


#chimney{
   position: absolute;
   top: 0;
   left: 0;
  width: 100%;
  height: 150px;
  z-index: -1;
  border: 2px solid blue;
  background-color:darkred
}

#roof{
  width: 500px;
  height: 300px;
  border: 2px solid gray;
  background-color: blue;

}

#window-1{
  position: absolute;
  top: 200px;
  left: 50px;
  z-index: 2;
  width: 100px;
  height: 150px;
  border: 2px solid green;
  background-color: yellow;
}
#window-2{
  position: absolute;
  top: 200px ;
  right: 40px;
  z-index: 2;
  width: 100px;
  height: 150px;
  border: 2px solid green;
  background-color:yellow;
}

#door{
  position: absolute;
  top: 10;
  left: 160px;
  bottom: -50px;
  margin: auto;
  width: 190px;
  height: 300px;
  border: 2px solid gray;
background-color: black;
}

