#house{
  margin-top: 60px;
  position: relative;
  width: 500px;
  height: 400px;
  background-color: pink;
  border: 2px solid green;


}


#chimney{
   position: absolute;
   top: -50px;
   right: 40px;
   z-index: 1;
  width: 50px;
  height: 100px;
  border: 2px solid rgb(136, 136, 222);
  background-color:rgb(74, 74, 131);
}


#roof{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 500px;
  height: 100px;
  border: 2px solid darkblue;
  background-color: gray;

}

 

#window-1{
  position: absolute;
  top: 130px;
  left: 30px;
  z-index: 2;
  width: 100px;
  height: 130px;
  border: 2px solid green;
  background-color: yellow;
}
#window-2{
  position: absolute;
  top: 130px ;
  right: 40px;
  z-index: 2;
  width: 100px;
  height: 130px;
  border: 2px solid green;
  background-color:yellow;
}

#door{
  position: absolute;
  left: 170px;
  bottom: 0px;
  width: 150px;
  height: 200px;
  border: 2px solid gray;
background-color: black;
}

