#house{
  position: relative;
  width: 500px;
  height: 400px;
  background-color: pink;
  border: 2px solid green;

}

#chimney, #roof, #window-1, #window-2, #door{
  position: absolute;
  width: 500px;
  height: 200px;
  border: 2px solid blue;
}

#chimney{
  width: 300px;
  height: 200px;
  border: 2px solid blue;
  background-color: yellow;
}

#roof{
  width: 500px;
  height: 300px;
  border: 2px solid gray;
  background-color: blue;

}

#window-1{
  width: 150px;
  height: 250px;
  border: 2px solid green;
  background-color: yellow;
}
#window-2{
  width: 150px;
  height: 250px;
  border: 2px solid green;
  background-color:red;
}

#door{
  position: absolute;
  bottom: 0;
  
  width: 200px;
  height: 400px;
  border: 2px solid gray;
background-color: black;
}

