body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#b3e6ff, #b3e6ff 60%, green 60%);
    height: 100vh;
}

#house{
  margin-top: 60px;
  position: relative;
  width: 500px;
  height: 400px;
  background-color: blue;
  border: 2px solid green;


}

h1{
    text-align: center;
    border: 2px solid black;
    font-style: italic;;
    position: absolute;
}

#chimney{
   position: absolute;
   top: -100px;
   right: 40px;
   z-index: 1;
  width: 50px;
  height: 100px;
  border: 2px solid rgb(136, 136, 222);
  background-color:rgb(74, 74, 131);
}


#roof{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 500px;
  height: 100px;
  border: 2px solid darkblue;
  background-color: gray;

}

 

#window-1{
  position: absolute;
  top: 130px;
  left: 25px;
  z-index: 2;
  width: 100px;
  height: 130px;
  border: 2px solid yellowgreen;
  border-width: .8em;
  background-color: yellow;
}
#window-1-1{
  position: absolute;
  top: 130px;
  left: 20px;
  z-index: 2;
  width: 50px;
  height: 130px;
  border: 2px solid yellowgreen;
  border-width: .8em;
  background-color: yellow;
}
#window-2{
  position: absolute;
  top: 130px ;
  right: 20px;
  z-index: 2;
  width: 100px;
  height: 130px;
  border: 2px solid yellowgreen;
  border-width: .8em;
  background-color:yellow;
}
#window-2-2{
  position: absolute;
  top: 130px ;
  right: 15px;
  z-index: 2;
  width: 50px;
  height: 130px;
  border: 2px solid yellowgreen;
  border-width: .8em;
  background-color:yellow;
}

#door{
  position: absolute;
  left: 165px;
  bottom: 0px;
  width: 150px;
  height: 200px;
  border: 2px solid yellowgreen;
  border-width: .8em;
background-color: yellow;

}

 #padlock{
position: absolute;
bottom: 100px;
left: 280px;
z-index: 1;
width: 20px;
height: 20px;
border-radius: 50%;
background-color: blue;
 }
#welcome{
    position: absolute;
    bottom: 50px;
  left: 240px;
    z-index: 5;
    color: white;
    padding: 20px;
    border: 2px solid black;
    border-width: .5em;
    width: 50px;
    height: 20px;
    background-color: beige;
    
}